.file-navigation.in-mid-page
  = link_to repo_commits_path(repo: @repo.name, ref: @branch.name), class: 'right' do
    .octicon.octicon-history
    Commits
  = render 'branch_switcher'
  .breadcrumb
    %span.repo-root
      = link_to params[:repo], repo_tree_path(repo: params[:repo], ref: params[:ref])
    = render_path_breadcumb

